<div class = container>
  <div class = banner1>
      <h1>Template Livre de Ma Bibliothèque</h1>
  </div>
  <div class = card-trip>
    <%= form_for(book) do |f| %>
      <%= f.label :title  %>
      <%= f.text_field :title %>
      <br>
      <br>
      <%= f.label :author %>
      <%= f.text_field :author %>
      <br>
      <br>
      <%= f.label :year   %>
      <%= f.number_field :year %>
      <br>
      <br>
      <%= f.label :resume %>
      <%= f.text_field :resume %>
      <br>
      <br>
      <%= f.label :price  %>
      <%= f.number_field :price %>
      <br>
      <br>
      <%= f.submit 'submit book', class: 'btn btn-gradient' %>
    <% end %>
  </div>
</div>
