<div class = container>
  <div class = banner1>
    <h1>Liste des Livres dans Ma Bibliothèque</h1>
  </div>
  <% montant = 0 %>
    <% @books.each do |book| %>
      <div class = card-trip>
        <h2>Titre    :  <%= book.title %></h2>
        <h2>Year     :  <%= book.year %></h2>
        <h2>Price    :  <%= book.price %>€</h2>
        <% montant += book.price %>
        <%= link_to 'book details', book_path(book), class: 'btn btn-gradient' %>
        <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-gradient' %>
      </div>

    <% end %>

    <div class = card-choice>
      <h2> Total prix <%= montant %> €</H2>
      <%= link_to 'New Book', new_book_path, class: 'btn btn-gradient' %>
      <%= link_to "Back to Home", home_path, class: 'btn btn-gradient' %>
      <%= link_to "Know more about us", about_path, class: 'btn btn-gradient' %>
    </div>
</div>
