<div class = container>
  <div class = banner1>
      <h1>Détail Livre de Ma Bibliothèque</h1>
  </div>
  <div class = card-trip>
    <h2><%= @book.title %></h2>
    <p><%= @book.author %></p>
    <p><%= @book.year %></p>
    <p><%= @book.resume %></p>
    <p><%= @book.price %>€</p>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-gradient'  %>
    <%= link_to 'book delete',
      book_path(@book), class: 'btn btn-gradient' ,
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    <%= link_to 'book list', books_path, class: 'btn btn-gradient'  %>
  </div>
</div>
